@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --red: rgb(175, 37, 37);
    --green: rgb(50, 189, 50);
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

body {
    background: var(--red);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 12rem;
}
